[user]
    email = junior1232131@gmail.com
    name = jacobadev

[init]
    defaultBranch = main

[pull]
    rebase = true

[credential]
    helper = store
[push]
  autoSetupRemote = true
  default = current

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]

    features = line-numbers 
    navigate = true    # use n and N to move between diff sections
    dark = true
  hyperlinks = true

[merge]
    conflictstyle = diff3

[diff]
  colorMoved = default

